<div>
{{>nav}}
</div>

<div class="container-md wrapper">
  <div class="content-wrap">
    <h1>All Dreams</h1>
    
{{#each dreams}}
    <div class="card card-jg" id="all-card" data-dream="{{id}}">
      <div class="card-body">
        <h5 id="title" class="card-title" >{{title}}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li id="tags" class="list-group-item">{{tags}}</li>
        <li id="createdAt" class="list-group-item">{{createdAt}}</li>
      </ul>
      <div class="card-body">
        <button type="button" data-dream="{{id}}" id="btn-read" class="btn btn-warning">Read/Edit</button>

      </div>
    </div>
{{else}}
<p>No dreams yet</p>
{{/each}}
</div>
