<div class="container">
  {{>nav}}
</div>

<div class="wrapper-all">
  <div class="fixed-bg bg-1">
    <div class="container">
      <div class="form-wrap page-wrap scroll-bg">
        <div class="row" id="myItems">
          <div class="col-md-8 offset-md-2">
            <h1 class="h1-all">All Dreams</h1>

            <div class="col-sm-12 mb-3">
              <input type="text" id="myFilter" class="form-control" onkeyup="myFunction()"
                placeholder="Search dream titles...">
            </div>

            {{#each dreams}}
            <div class="card border-secondary card-jg mb-3" id="the-list" data-dream="{{id}}">
              <ul class="list-group list-group-flush" id="the-list">
                <li id="title" class="list-group-item card-title"><strong>Dream: </strong><em>{{title}}</em></li>
                <li id="tags" class="list-group-item"><strong>Tags: </strong><em>{{tags}}</em></li>
                <li id="createdAt" class="list-group-item"><strong>Created on: </strong><em>{{createdAt}}</em></li>
              </ul>
              <div>
                <button type="button" data-dream="{{id}}" id="btn-read" class="btn text-all1">Read/Edit</button>
              </div>
            </div>
            {{else}}
            <p>No dreams yet</p>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/search.js" <div class="footer">
    <p>copyright 2021 DREAMSCAPE, jenner garcia</p>
</div >