<div class="container">
  {{>nav}}
</div>

<div class="wrapper-all">
  <div class="fixed-bg bg-2">
    <div class="container container-jg">
      <div class="row page-wrap scroll-bg ">
        <h1 class="h1-add">Make some changes...</h1>
        <div class="col-md-7">
          <form action="/api/dreams" method="POST" id="cms"></form>
          <div class="form-group">
            <label for="title" class="text-add">Title</label>
            <textarea name="title" id="title" class="input-box textbox form-control" maxlength="100"
              placeholder="Too Many Cats">{{dream.title}}</textarea>
          </div>
          <div class="form-group">
            <label for="tags" class="text-add">Tags/Themes</label>
            <textarea name="tags" id="tags" class="input-box textbox form-control" maxlength="100"
              placeholder="howling, cats">{{dream.tags}}</textarea>
          </div>
          <div class="form-group">
            <label for="description" class="text-add">Dream</label>
            <textarea name="description" id="description" class="input-box" rows="12"
              placeholder="Far away in the woods I heard...">{{dream.description}}</textarea>
          </div>
        </div>

        <div class="col-md-5 d-flex justify-content-center">
          <div>

            <h2 class="h2-add">Dream Stats</h2><span><em class="text-add1">This is optional</em></span>
            <select class="form-select" name="mood" id="mood" aria-label="Default select example" value={{dream.mood}}>
              <option selected>Mood</option>
              <option value="happy">Happy</option>
              <option value="sad">Sad</option>
              <option value="neutral">Neutral</option>
              <option value="frightened">Frightened</option>
              <option value="angry">Angry</option>
              <option value="anxious">Anxious/Stressed</option>
            </select>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="lucid" value="true" id="lucid" checked={{dream.lucid}}>
              <label class="form-check-label text-add" for="flexRadioDefault1">Lucid Dream?</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="nightmare" value="true" id="nightmare"
                checked={{dream.nightmare}}>
              <label class="form-check-label text-add" for="flexRadioDefault1">Nightmare?</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="recdream" value="true" id="recdream"
                checked={{dream.recdream}}>
              <label class="form-check-label text-add" for="flexRadioDefault1">Recurring dream?</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="rectheme" value="true" id="rectheme"
                checked={{dream.rectheme}}>
              <label class="form-check-label text-add" for="flexRadioDefault1">Recurring Theme?</label>
            </div>
            <button type="submit" value="update" id="btn-update" class="btn text-add1"
              data-dream="{{dream.id}}">Submit</button>
          </div>
          <br>
          <br>
          <br>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <p>copyright 2021 DREAMSCAPE, jenner garcia</p>
</div>


<script src="/js/form.js"></script>