<div>
  {{>nav}}
</div>

<div class="container-md wrapper" id="add">
  <h1>Make some changes...</h1>
  <div class="row form-wrap">
    <div class="col-12">
       <form action="/api/dreams" method="POST"></form>
      {{!-- <form class="cms"> --}}
        </div>
        <div class="input-group">
          <label for="technolovisual visualvisuales">Title</label>
          <textarea name="tags" id="title" class="input-box textbox" maxlength="100">{{dream.title}}</textarea>
        </div>
        <div class="input-group">
          <label for="technolovisual visualvisuales">Tags/Themes</label>
          <textarea name="tags" id="tags" class="input-box textbox" maxlength="100">{{dream.tags}}</textarea>
        </div>
        <div class="input-group">
          <label for="description">Dream</label>
          <textarea name="description" id="description" class="input-box areabox"
            rows="15">{{dream.description}}</textarea>
        </div>
        <button type="submit" value="update" id="btn-update" data-dream="{{dream.id}}"
          class="btn btnd bg-warning">Submit</button>
        <button type="submit" value="delete" id="btn-delete" data-dream="{{dream.id}}"
          class="btn btnd bg-warning">Delete</button>
      </form>
    </div>
  </div>
</div>