<div class="section">
    {{>nav}}
</div>


<section class="container wrapper" id="read">
    <div class="wrap">
        <div class="dream-page">
            <h1 id="title">{{dream.title}}</h1>
            <div class="dream-info">
                <p id="createdAt" class="read-group">{{dream.createdAt}}</p>

                <div class="container">
                    <div class="row">
                        <div class="col-sm d-flex justify-content-end">
                            <button type="button btnd" data-dream="{{dream.id}}" id="btn-edit"
                                class="btn btn-warning">Edit</button>
                        </div>
                        <div class="col-sm d-flex justify-content-start">
                            <button type="button" data-dream="{{dream.id}}" id="btn-delete"
                                class="btn btn-primary">Delete</button>
                        </div>
                    </div>
                </div>
                <p id="tags" class="read-group">{{dream.tags}}</p>
                <p id="description" class="read-body">{{dream.description}}</p>
            </div>
        </div>
    </div>
</section>