{{>nav}}

{{#each dream}}
<section class="container wrapper" id="read">
    <div class="wrap">
        <button type="button" data-dream="{{id}}" id="btn-edit" class="btn btn-warning">Edit Dream</button>


        <div class="dream-page" data-dream="">
            <h1 id="title">{{title}}</h1>
            <button class="btn bg-warning">Edit</button>
            <div class="dream-info">
                <p id="createdAt" class="read-group">{{createdAt}}</p>
                <p id="tags" class="read-group">{{tags}}</p>
                <p id="description" class="read-body">{{description}}</p>
            </div>
        </div>
{{else}}
<p>Write down some dreams!!!!</p>
{{/each}}



        {{!-- Dummy text
        <div class="dream-page">
            <h1>Bush Dogs</h1>
            <button class="btn bg-warning">Edit</button>
            <ul class="dream-info">
                <li class="read-group">March 10, 2021</li>

                <li class="read-group">dogs, chase, full moon</li>

                <li class="read-body">This is a dummy div: The bluest night sky...quiet. The bush dogs lay in wait...
                </li>
            </ul>

        </div>
    </div>
</section> --}}