<div class="container">
    {{>nav}}
</div>

<div class="wrapper-all">
    <div class="fixed-bg bg-4">
        <div class="container" id="read">
            <div class="row row-read page-wrap justify-content-center scroll-bg">
                <div class="col-md-9 col-read">
                    <div class="text-center">
                        <h1 id="title">{{dream.title}}</h1>
                    </div>
                    <div class="btn-read text-center">
                        <button type="button btnd" data-dream="{{dream.id}}" id="btn-edit"
                            class="btn text-add1">Edit</button>
                        {{!-- <button type="button" data-dream="{{dream.id}}" id="btn-delete"
                            class="btn text-add2">Delete</button> --}}

                        {{!-- FIX --}}
                        <button type="submit button btnd" value="delete" data-dream="{{dream.id}}" id="btn-delete"
                            class="btn text-add2">Delete</button>
                    </div>
                    <br>



                    {{!-- FINISH THIS!!!! --}}

                    <div{{#unless dream.updated}} style="display:none" id="update-alert" class="alert alert-primary"
                        role="alert">
                        Dream Updated!
                        {{/unless}}
                </div>



                {{!-- <div {{#unless dream.updated}} style="display: none" {{/unless}} id="update-alert"
                    class="alert alert-primary" role="alert">
                    Dream Updated!
                </div> --}}



                <hr>
                <div class="dream-info text-center">
                    <p id="createdAt" class="read-group"><strong>Date Recorded: </strong>{{dream.createdAt}}</p>
                    <hr>
                </div>
                <div class="read-tags text-center">
                    <p id="tags" class="read-group"><strong>Tags/Themes: </strong>{{dream.tags}}</p>
                </div>
                <hr>
                <br>
                <br>
                <div class="read-text">
                    <textarea id="description" class="read-body border-0 readonly"
                        rows="13">{{dream.description}}</textarea>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="footer">
    <p>copyright 2021 DREAMSCAPE, jenner garcia</p>
</div>